@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
*,
*::after,
*::before {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{
    text-align: center;
}
.nav-link {
    color: white !important;
}

